<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Page</title>
    <link rel="stylesheet" href="side.css">
</head>
<body>
    <div class="sidebar hidden">
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <span>EduPath</span>
        </div>
        <a href="#home" class="active">Gestion des utilisateurs</a>
        <a href="#services">Gestion des categories et des cours</a>
        <a href="#clients">Gestion des forums</a>
        <a href="#contact">Gestion des quizz</a>
        <a href="listeRec.php">Gestion des reclamations</a>
    </div>
    <button class="toggle-btn">&#9664;</button>
    <script src="side.js"></script>
</body>
</html>
